@media only screen and (max-width: 1881px) {
.sup-box-container {
        width: 1200px;
        margin:30px auto;
    }
}
@media screen and (min-width:1271px) {
    .overlay{
        display: none !important;
    }
}
@media only screen and (max-width: 1271px) {
    .nav-links{
        position: fixed;
        top: 0;
        left: -150%;
        max-width: 300px;
        flex-direction: column;
        justify-content: start;
        gap: 30px;
        background: #fff;
        height: 100vh;
        box-shadow: 0 0 25px #00000060;
        z-index: 1001;
        transition: .3s ease all;
    }
  
    .overlay{
        
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #00000090;
        backdrop-filter: blur(5px);
        z-index: 1000;
        cursor: pointer;
    }
    .nav-link-button,.nav-link{
        display: flex;
        gap: 10px;
        width: 100%;
        text-align: center;
        flex-direction: column;
    }
    .nav-link-button a{
        margin-left: 0;
    }
    .nav-link a{
        border-radius: 6px;
        background: #00000010;
    }
    .nav-logo-m{
        margin-top: 35px ;
    display: flex !important;
    }
    .nav-segment{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .menu-btn{
        display: flex;
    }
}


@media screen and (max-width:1200px) {
    .sup-box-container{
        width: 100%;
    }
    .sup-box-container .sup-box:nth-child(8){
        display: none;
    }
}
@media screen and (max-width:1050px) {
    .footer-section,
    .footer-links-container{
        width: 95%;
        
    }
    .sup-box-container .sup-box:nth-child(7){
        display: none;
    }
    .home-container{
        padding: 10px;
    }
    .s-card-container{
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
    }
    .s-card-container .s-card{
        width: 40%;
    }
    .box-f-container{
        flex-wrap: wrap;
        justify-content: center;
    }
    .box-f-container .box-f{
        width: 45%;
    }
}
@media screen and (max-width:988px) {
    .sup-box-container .sup-box:nth-child(6){
        display: none;
    }
   .home-container{
    justify-content: center;
    flex-direction: column;
    gap: 50px;
   }
   .home-container div{
    text-align: center;
    max-width: 100% ;
    width: 100%;
   } 
   
   .category-contianer form{ 
    display: flex;
    width: 100%;
    gap: 15px;
    flex-direction: column;
   }
   .search-category-container form input,
   .search-category-container select,
   .search-category-container button{
    width: 100%;
    max-width: 100%;
   }
   .search-category-container{
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    margin: 0 !important;
    margin-left: 0 !important;
    max-width: 500px !important;
   }
   .footer-phone-text{
    padding: 20px;
   }
   
}

@media screen and (max-width:958px) {
    .footer-links-container{
        flex-direction: column;
        gap: 30px;
    }
}
@media screen and (max-width:850px) {
    
    .sup-box-container .sup-box:nth-child(7){
        display: none;
    }
    .home-container{
        padding: 10px;
    }
    .s-card-container{
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
        padding: 10px;
    }
    .s-card-container .s-card{
        width: 100%;
    }
    .box-f-container{
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px;
    }
    .box-f-container .box-f{
        width: 100%;
        justify-content: center;
    }
    .sy-box-container{
        flex-wrap: wrap;
    }
    .sy-box{
        width: 43%;
    }
    .happy-customer-container{
        flex-direction: column-reverse;
        gap: 20px;
        align-items: center;
        justify-content: center;
        height: auto;
        background: transparent;
        padding: 20px 10px;
    }
    .h-customer-co{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }
    .h-text-customer{
        width: 100%;
        margin: auto;
        border-radius: 16px;
    }
    .h-button-container{
        justify-content: center;
    }
    .mySwiper{
        max-width: 100%;
    }
    .footer-phone-bg{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .footer-phone-img{
        position: relative;
        left: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        width: 350px;
        margin: auto;
    }
        .footer-phone-text {
            text-align: center;
            color: #383E42;
        }
}

@media screen and (max-width:758px) {
    .features-link{
        flex-direction: column;
        max-width: 350px;
        margin: auto;
        gap: 5px;
    }
    .features-link a{
        width: 100%;
    }
    .sup-box-container .sup-box:nth-child(5){
        display: none;
    }
}
@media screen and (max-width:625px) {
    .footer-section{
        flex-direction: column;
        gap: 50px;
    }
    .footer-links{
        display: flex;
        text-align: center;
        gap: 20px;
        flex-direction: column;
    }
    .sy-box{
        width: 100%;
    }
    .home-text{
        font-size: 42px;
    }
    .sup-box-container .sup-box:nth-child(4){
        display: none;
    }
    .home-img img{
        width: 100%;
    }
}
@media screen and (max-width:455px) {
    .sup-box-container .sup-box:nth-child(4) {
            display: flex;
        }
        .primary-btn{
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0;
            width: 100%;
            text-align: center;
            left: 50%;
            transform: translate(-50%);
        }
    .sup-box-container{
        
        flex-wrap: wrap;
        gap: 5px;
    }
    .sup-box-container .sup-box{
        width: 49%;
    }
    .footer-phone-img{
        left: 0;
        margin-left: 0;
        width: 100%;
    }
    .footer-phone-img img{
        width: 100%;
    }
    .h-customer-slide ,.mySwiper{
        height: 500px !important;
    }
    .s-card-img img{
        width: 70px;
        height: 70px;
    }
    .s-card-info{
        justify-content: start;
        align-items: start;
        gap: 10px;
        flex-direction: column;
    }
    .f-phone-link{
        flex-direction: column;
    }
    .nav-links{
        width: 80%;
    }
}