*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
}
html{
    scroll-behavior: smooth;
    
}
section{
    scroll-margin-top:100px ;
}
.fixed-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #000000;
    color: #ffffff !important;
    font-size: 14px;
    padding: 5px 15px;
}
.secone{
    display: flex;
    align-items: center;
    gap: 20px;
    
}
.seconed a{
    text-decoration: none;
    color: #ffffff !important;
}
.seconed a:hover{
    text-decoration: none;
    background: none !important;
    color: #ffffff !important;
}
body{
    background: linear-gradient(to top, #ffffff, #f9f9ff);
    min-width: 250px;
}
nav{
    position: sticky;
    top: 0;
    z-index: 999;
}
.nav-container{
    
    margin: auto;
}
.menu-btn{
    display: none;
    outline: none;
    border: none;
    padding: 10px;
    font-size: 22px;
    cursor: pointer;
}
.overlay{
    display: none;
}

.nav-segment{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 0 15px #00000020;
    
    padding: 15px;
}
.nav-logo{
    text-align: center;
    transition: .3s ease all;
}
.nav-logo a{
    font-weight: 800;
    color: #000;
    text-decoration: none;
}
.nav-logo:hover{
    transform: scale(1.05);
}
.nav-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: 0 25px;
    font-size: 14px;
    
}
.goog-te-logo {
    display: none !important;
    /* Hide Google Translate logo */
}
.nav-link a{
    color: #070707;
    text-decoration: none;
    font-weight: 800;
    padding:15px;
    transition: .2s ease all;
    border-bottom: 2px solid #0059ff00;
    
}
.nav-link a.active{
    border-bottom: 2px solid #1727ff;
}
.nav-link a:hover{
    border-bottom: 2px solid #1727ff;
}
.nav-link-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-link-button a{
    padding: 15px 20px;
    border-radius: 6px;
    margin-left: 10px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    transition: .2s ease all;
}
.nav-link-button a:hover{
    box-shadow: 0 0 15px #00000020;
}
.classic-btn{
    color: #393E42 !important;
    border: 1px solid #393E42;
}
.l-btn{
    background: #F59A12;
    border: 1px solid #F59A12;
}
.r-btn{
    background: #306FDF;
    border: 1px solid #306FDF;
}
.container{
    max-width: 1250px;
    margin: auto;
}
.home-container{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.home-text{
    font-size: 32px;
    font-weight: 800;
    color: #383E42;
}

.home-text-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 550px;
}
.home-text-alt{
    max-width: 500px;
    font-size: 18px;
}
.home-img, .home-img img{
    width: 500px;
}
.home-img img{
    box-shadow: -40px 24px 0px #edf1fd;
    border-radius: 5px;
}
.search-category-container{
    position: absolute;
    bottom: 10%;
    background: #ffffff60;
    backdrop-filter: blur(5px);
    width: 950px;
    box-shadow: 0 0 15px #00000010;
    border-radius: 15px;
}
.search-category-containers{
    background: #ffffff60;
    backdrop-filter: blur(5px);
    margin-top: 15px;
    box-shadow: 0 0 15px #00000010;
    border-radius: 15px;
}

.search-category-containers input,.search-category-containers select,.search-category-containers button{
   width: 24% !important;
}
.nav-lang-op a{
    display: flex;
    align-items: center;
    gap: 4px;
    text-decoration: none;
    color: #242422;
}
.category-contianer form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.category-contianer form input,.category-contianer select,.category-contianer a{
    padding: 10px;
    width: 28%;
    color: #242422;
    font-weight: bold;
    border: 1px solid #E5E5EA;
    outline: none;
    transition: .3s ease all;
    border-radius: 8px;
}
.category-contianer form input::placeholder {
    font-style: italic;
}
.category-contianer form select{
    font-weight: bold;
}
.category-contianer button{
    color: #fff;
    background: #306FDF;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    width: 120px;
    padding: 10px;
    border-radius: 6px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s ease all;
}
.primary-btn-s2{
    color: #fff;
    background: #306FDF;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    width: 120px;
    padding: 10px;
    border-radius: 6px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s ease all;
}

.category-contianer button i{
    margin-left: 5px;
}
.category-contianer button:hover{
    background: #2156b0;
}
.category-contianer input:focus,.category-contianer select:focus{
    border: 1px solid #306FDF;
    box-shadow: 0 0 15px #00000010;
}
.sup-header{
    text-align: center;
    max-width: 880px;
    margin: auto;
}
.nav-logo-m{
    display: none !important;
}
.home-title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 42px;
    padding: 20px 0;
    font-weight: 600;
}
.flex-j{
    justify-content: center !important;
    text-align: center;
}
.hover-n:hover{
    box-shadow: 0 0 15px transparent !important;
}
.profile-btn{
    position: relative;
    border: 1px solid transparent !important;
}
.profile-btn:hover{
    box-shadow: 0 0 transparent !important;
}
.profile-btn img{
    position: absolute;
    top: 10px;
    left: -15px;
    border-radius: 50%;
}
.sup-box-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 1600px;
    margin: 30px 0;
}
.sup-overflow{
    overflow: hidden;
}
.sup-box{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    background: #fff;
    width: 140px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 15px #00000010;
    transition: .3s ease all;
    height: 170px;
}
.sup-box:hover{
    cursor: pointer;
    box-shadow: 0 0 25px #00000020;
}
.s-box-img img{
    width: 80px;
}
.s-box-title{
    text-align: center;
}
.primary-btn-st{
    background: #306FDF;
    color: #fff;
    text-decoration: none;
    padding: 15px 35px;
    border-radius: 8px;
    transition: .3s ease all;
}
.primary-btn-st:hover {
    background: #2156b0;
}
.primary-btn-st i {
    margin-left: 10px;
}
.primary-btn{
    position: absolute;
    right:50px;
    background: #306FDF;
    color: #fff;
    text-decoration: none;
    padding: 15px 35px;
    border-radius: 8px;
    transition: .3s ease all;
}
.primary-btn i{
    margin-left: 10px;
}
.primary-btn:hover{
    background: #2156b0;
}
.features-link{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 10px;
    margin: 15px 0;
}
.features-link a{
    background: #fff;
    padding: 8px 20px;
    color: #383E42;
    box-shadow: 0 0 15px #00000010;
    border-radius: 8px;
    text-decoration: none;
    border: 1px solid #EFEFEF;
    transition: .3s ease all;
    border: 1px solid #E5E5EA;
}
.features-link .active{
    color: #F59A12;
}
.features-link a:hover{
    box-shadow: 0 0 15px #00000030;
}
.s-card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #fff;
    width: 31%;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 15px #00000020;
    text-decoration: none;
    color: #242422;
    transition: .3s ease all;
    border: 2px solid #fff;
}
.s-card:hover{
    background: #e7f3ff;
    border: 2px solid #3290ed;
}
.s-card-content{
    display: flex;
    
    flex-direction: column;
    width: 100%;
}
.s-card-img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.s-card-img img{
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-radius: 20px;
}
.s-card-title{
    font-weight: 600;
    font-size: 18px;
     
}
.button-emlak{
    background-color: rgb(47, 118, 252);
    color: #fff;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    text-align: center;
}

.s-card-info{
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    
}
.s-card-cap{
    margin: 10px 0;
}
.s-card-info-star{
    font-weight: 600;
}
.s-card-info-loc{
    padding: 5px 10px;
    background: #d5eaff;
    color: #1666ef;
    border-radius: 10px;
}
.s-card-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px 0;
    flex-wrap: wrap;
    margin-top: 70px;
}
.relative{
    position: relative;
}
.see-all-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -15px;
    height: 340px;
    width: 100%;
    background: linear-gradient(to top, #fff 10%, #ffffff20);
}
.bg-effect{
    padding-top: 50px;
    
}
.box-f-container{
    display: flex;
    gap: 20px;
    margin-top: 50px;
}
.box-f{
    background: #fff;
    width: 33%;
    padding: 20px;
    box-shadow: 0 0 15px #00000010;
    border-radius: 14px;
   
}
.box-f-title{
    display: flex;
    align-items: center;
    font-weight: 600;
    height: 70px;
    padding: 10px 0;
}
.p29{
    padding: 15px 0;
}
.p14{
    position: relative;
    padding: 15px;
    
}
.s-card a{
    text-decoration: none;
    color: #393E42;
}
.s-card-c{
    display: flex;
}
.s-card-c i{
    margin-right: 7px;
    color: #FF9A00;
}
.chat-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: #FF9A00;
    border-radius: 15px;
}
.sy-box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.sy-box{
    text-align: center;
    margin: 50px 0;
    width: 29%;
}
.happy-customer-container{
    display: flex;
    
    justify-content: center;
    padding-top: 50px;
    height: 500px;
    border-radius: 15px !important;
    background: #fff;
    box-shadow: 0 0 15px #00000020;
    
}
.flwxo{
    gap: 50px; flex-direction: row-reverse;
}
.flwxo .contact-container-icon-link{
    display: flex;
    align-items: center;
    justify-content: start;
    background: #ffefe259;
    border-radius: 11px;
    color: #000;
    padding: 10px;
    width: 100% ;
    margin-top: 20px;
}
.contact-container-icon-link a{
    color: #000;
    text-decoration: none;
}
.footer-phone-bg{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    
    border-radius: 15px !important;
    background: #fff;
    color: #000;
    background-size: cover !important;
    background-position: bottom;
}
.h-text-header{
    font-size: 26px;
    font-weight: 800;
    padding-bottom: 10px;
}
.h-text-customer{
    height: 200px;
    width: 350px;
    background: #ff9900;
    color: #fff;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px 10px 0 10px;
}

.h-customer-slide{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #1f1f1f;
    height: 350px;
    gap: 13px;
    padding: 15px;
    padding-top: 50px;
    border-radius: 10px;
    text-align: center;
}

.profile-p-slide-img{
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translate(-50%);
    background: rgb(255, 255, 255);
    width: 100px;
    height: 100px;
    padding: 4px;
    box-shadow: 0 0 15px #00000010;
    border-radius: 50%;
    overflow: hidden;
}
.profile-p-slide-img img{
    width: 100%;
    object-position: center;
    object-fit: cover;
    border-radius: 50%;
}
.profile-slide-text{
    color: #fff;
}
.profile-slide-text .italic{
    font-style: italic;
}
.profile-slide-text .icon-profile{
    margin: 20px 0;
}
.h-button-container{
    display: flex;
    align-items: center;
    justify-content: end;
}
.h-button-container-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 110px;
    gap: 10px;
}
.h-buttons{
    box-shadow: 0 0 15px #00000020;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    width: 50px;
    border-radius:0 0 11px 11px;
    height: 50px;
}
.h-buttons:nth-child(1){
    background: #ff9900;
    color: #fff;
}
.h-buttons:nth-child(2){
    color: #000000;
    background: #ffffff;
}

.sy-box a{
  
    color: #006EDF;
    text-decoration: none;
}
.sy-box a i{
    margin-left: 4px;
}
.sy-box img{
    border-radius: 10px;
    
}
.sy-box-img img{
    box-shadow: 0 0 15px #00000020;
}
.sy-box-img{
    position: relative;
    
}

.sy-box-img-title{
    position: absolute;
    bottom: 40px;
    left: 20px;
    background: #fff;
    padding:8px 14px;
    box-shadow: 0 0 15px #00000020;
    border-radius: 11px;
}

.footer-phone-bg{
    display: flex;
    align-items: center;
}
.footer-phone-img{
    display: flex;
    justify-content: end;
    width: 550px;
}
.footer-phone-img img{
    width: 350px;
}
.footer-phone-text{
    color: #000;
    max-width: 400px;
}
.f-phone-text-header{
    font-size: 24px;
    font-weight: 800;
    padding: 20px 0;
}
.f-phone-alt{
    padding: 20px 0;
}
.f-phone-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.footer-container-width{
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 0 15px #00000020;
}
.footer-container{
    display: flex;
    
    flex-direction: column;
}
.footer-links-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    padding: 30px 0;
    width: 80%;
    margin: auto;
}
.footer-links a{
    color: #000000;
    font-weight: 800;
    padding: 5px 10px;
    text-decoration: none;
}
.footer-links a:hover{
    text-decoration: underline;
}
.footer-links-social{
    display: flex;
}
.footer-links-social a{
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    width: 35px;
    border-radius: 50%;
    margin-left: 5px;
    height: 35px;
    border: 1px solid #0000009a;
    color: #000000;
    transition: .3s ease all;
}
.footer-links-social a:hover{
    background: #ffffff;
    color: #242422;
}
.footer-kvk a{
    color:  #8C9491 !important;
}
.border-line{
   
    border-top: 1px solid #00000010;
}

.footer-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    width: 80%;
    padding: 20px 0;
    padding-bottom: 50px;
    margin: auto;
}
.footer-box{
    position: relative;
    padding:25px 45px;
    padding-bottom: 50px;
    border-radius: 12px;
}
.f-box-text-alt{
    color: #383E42;
    font-size: 14px;
}
.f-box-btn{
    position: absolute;
    left: 45px;
    bottom: -15px;
}
.f-box-btn a{
    padding: 12px 25px;
    border-radius: 12px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    box-shadow: 0 0 15px #00000021;
    transition: .3s ease all;
}
.or-f a{
    background: #FF9A00;
}
.bl-f a{
    background: #006EDF;
}
.or-f a:hover{
    background: #be7302;
}
.bl-f a:hover{
    background: #014d9a;
}
.footer-box:nth-child(1){
    background: #FFF5E0;
}
.footer-box:nth-child(2){
    background: #DFEFFF;
}
.f-box-text{
    color:  #383E42;
    font-size: 18px;
    font-weight: 800;
    padding: 10px 0;
}

.pop-up-links-container-sign{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    
}
.xmargk{
    cursor: pointer;
}

.pop-up-links-container-sign a{
    display: flex;
    align-items: end;
    justify-content: start;
    width: 100%;
    background: #FFF5E6;
    height: 200px;
    color: #000;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 15px;
    transition: .3s ease all;
    border: 1px solid #cccccc00;
}
.pop-up-links-container-sign a:hover{
    background: #ffebcc;
    box-shadow: 0 0 15px #00000020;
    border: 1px solid #ccc;
}
.pop-up-links{
    padding: 15px;
    
}

.overlay-modal{
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background: #00000050;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
}
.dl15{
    display: flex;
}
.overlay-modal2{
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background: #00000050;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
}
.overlay-modal3{
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background: #00000050;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
}
.sign-text{
    font-weight: 800;
    font-size: 22px;
    padding: 20px 0;
}
.sign-column-logo{
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    padding:0 20px;
    gap: 30px;
    border-right: 1px solid #f5f5f5;
}
.sign-alt-text a{
    color: #006EDF;
    text-decoration: none;
}
.login-p, .login-s{
    cursor: pointer;
}
.checkbox-container-s{
    display: flex;
    justify-content: start;
    gap: 10px;
    align-items: start;
    text-align: left;
   margin-bottom: 20px;
}
.checkbox-container-s input{
    position: relative;
    top: -10px;
    box-shadow: 0 0 0 transparent !important;
    padding: 0;
    margin: 0;
}
.x-mark{
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 22px;
    cursor: pointer;
    color: #383E42;
}
.x-mark2{
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 22px;
    cursor: pointer;
    color: #383E42;
}
.x-mark3{
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 22px;
    cursor: pointer;
    color: #383E42;
}
.modal-login{
    position: relative;
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 20px;
    width: 800px;
    height: 500px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 0 15px #00000020;
}
.modal-login3{
    position: relative;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    width: 800px;
    
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 0 15px #00000020;
}
.sign-text-alt{
    padding-bottom: 20px;
}
.sign-btn{
    cursor: pointer;
}
.modal3-btn{
    cursor: pointer;
}
.modal-login3 .sup-box-containers{
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    justify-content: start;
    gap: 5px;
    height: 500px;
    overflow: auto;
}
.modal-login2{
    position: relative;
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 20px;
    width: 800px;
    
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 0 15px #00000020;
}
.link-l li{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding: 10px 0;
}
.link-l i{
    color: #006EDF;
    margin-right: 5px;
}
.input-container {
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 20px;
    flex-direction: column;
    width: 400px;
}
.pagination {
    list-style: none;
    padding: 8px;
    text-align: center;
    margin-top: 30px;
}

.pagination a,
.pagination li {
    border-radius: 5px;
    color: #212121;
    display: inline-block;
    margin: 0;
    transition: .15s ease-in;
    cursor: pointer;
    text-decoration: none;
    background: #f5f5f5;
}

.pagination a:hover {
    color: #fff;
    background: #006EDF;
}

.pagination .pagination-number,
.pagination .pagination-arrow i {
    vertical-align: middle;
}

.pagination .pagination-number {
    font-family: sans-serif;
    font-size: 14px;
    text-align: center;
    line-height: 24px;
    width: 32px;
    padding: 4px 0;
}

.pagination .pagination-number.current-number {
    background: #006EDF;
    color: #fff;
}

.pagination .pagination-arrow i {
    font-size: 24px;
    padding: 4px 8px;
}
.logo-align{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #FCEBCC;
    width: 200px;
    height: 200px;
}
.input-container input,
.input-container button,
.input-container a{
    padding: 15px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #3676FF;
    box-shadow: 0 0 15px #00000020;
    transition: .3s ease all;
}
.nav-links-button-sign{
    display: flex; align-items: center; gap: 10px;
}
.input-container input:focus {
    border: 1px solid #3676FF;
    background: #eff5ff;
}

.input-container button ,
.input-container a{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #3676FF;
    color: #fff;
    cursor: pointer;
    transition: .3s ease all;
    text-decoration: none;
}

.input-container button:hover {
    box-shadow: 0 0 5px #00000020;
}

.sign-in-container {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;

}

.sign-column {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
   
    font-size: 16px;
    

}


.sign-in-title {
    font-weight: 600;
    font-size: 26px;
}

.sign-in-title {
    margin-top: 50px;
}

.s2 {
    display: flex;
    align-items: center;
    justify-content: center;
   

}



.sign-buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
  
    gap: 12px;
    padding: 25px 0;
}

.login-w-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 10px;
    border: 1px solid #3676FF;
    background: #fff;
    padding: 10px;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    color: #222222;
    transition: .3s ease all;
    font-size: 14px;
    box-shadow: 0 0 15px #00000020;
}

.login-w-button:hover {
    background: #eef4ff;
    border: 1px solid #a3c1f5;
    box-shadow: 0 0 5px #00000020;
}
.product-filter-container{
    background: #fff;
    border-radius: 11px;
    margin-top: 40px;
    padding: 10px;
    box-shadow: 0 0 15px #00000020;
}
.product-filter{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.product-filter a{
    width: 33%;
    border-radius: 11px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: #383E42;
    transition: .3s ease all;
}
.product-filter a:hover{
    background: #E8F1FC;
}
.product-filter a span{
    font-weight: 800 !important;
}
.product-filter a:nth-child(2){
    background: #E8F1FC;
}
.slice-text-c {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}

.slice-text {
    color: #000;
    background: #fff;
    padding: 10px;
}

.ilan-detay-container{
    background: #fff;
    box-shadow: 0 0 15px #00000020;
    border-radius: 13px;
    margin-top: 40px;
    padding: 30px;
}
.ilan-detay-content{
    max-width: 1000px;
    margin:35px auto;
}
.ilan-detay-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ilan-detay-text{
    font-weight: bold;
    font-size: 26px;
}
.ilan-detay-info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 14px;
    margin: 20px 0;
}
.ilan-info-box{
    padding: 14px;
    border: 1px solid #8C9491;
    border-radius: 11px;
    width: 100%;
}
.ilan-detay-buttons{
    display: flex;
    font-size: 16px;
    gap: 20px;
     align-items: center;
}
.ilan-detay-buttons a{
    display: flex;
    gap: 10px;
    align-items: center;
    background: #fff;
    box-shadow: 0 0 15px #00000020;
    border-radius: 8px;
    width: 160px;
    color: #383E42;
    text-decoration: none;
}
.ilan-detay-buttons a span{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px;
    border-radius: 8px;
}
.ilan-detay-buttons a:nth-child(1) span{
    background: #E21743;
}
.ilan-detay-buttons a:nth-child(2) span{
    background: #FF9A00;
}
.ilan-detay-buttons a span img{
    width: 15px;
    height: 15px;
    object-fit: contain;
}
.ilan-detay-title{
    font-size: 18px;
    padding: 15px 0;
}
.ilan-detay-title span{
    font-weight: 600;
}
.uzman-profile-container{
    margin-top: 59px;
}
.uzman-profile-about-container{
    display: flex;
    align-items: center;
    gap: 40px;
}
.profile-header{
    padding: 20px 0;
    margin-top: 30px;
    font-size: 22px;
}
.container{
    padding:0 10px;
}
li {
    list-style: none;
}




.rating-container{
    display: flex;
    gap: 20px;
    width: 300px;
    
    flex-direction: column;
}

.rating-score-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.score-c{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    background: #006EDF;
    border-radius: 50%;
    font-weight: 600;
    font-size: 42px;
    color: #fff;
}

.score-detail div{
    font-weight: 600;
    margin-top: 6px;
    font-size: 22px;
}
.rating-container-column {
    display: flex;
    
    gap: 20px;
}

.rating-bars {
    width: 50%;
    float: left;
}

.rating-digit-holder{
    margin:0 10px;
}
.rating-star-content{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    font-size: 18px;
}
.rating-star-content div{
    width: 150px !important;
}
.rating-bar-bg,
.rating-bar-bg .bar-position {
    height: 7px;
    border-radius: 100px;
}
.rating-content-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rating-bar-bg {
    position: relative;
    background: #D3D4D3;
    margin-top: 7px;
    margin-left: 7px;
}

.rating-bar-bg .colors-bar {
    background-color: #FF9A00;
}



.rating-bar-bg .bar-position {
    left: 0;
    position: absolute;
    width: 0;
}
.pagination-number{
    padding: 10px !important;
    background: #000;
}

.rating-total-numbers {
    font-size: 18px;
    
    font-weight: 600;
}
.comment-container{
    display: flex;
    gap: 40px;
    
}
.comment-container-card{
    position: relative;
    background: #fff;
    border-radius: 15px;
    padding: 25px;
    max-width: 31%;
    box-shadow: 0 0 15px #00000020;
}
.stats-hit{
    position: absolute;
    right: 20px;
}
.comment-card-header{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    margin-bottom: 10px;
}
.profile-name span{
    color: #006EDF;
}
.comment-profile img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.account-page{
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

.sidebar-container{
    position: sticky;
    top: 120px;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 15px;
    width: 300px;
    height: 510px;
    overflow: hidden;
    box-shadow: 0 0 15px #00000020;
}
.content-section{
    width: 80%;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 0 15px #00000020;
    
}
.sidebar-profile-section{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.side-profile-title{
    font-weight: 600;
}
.side-profile-title a{
    color: #006EDF;
    font-size: 14px;
    text-decoration: none;
}
.sidebar-profile-section img{
    border-radius: 50%;
}
.sidebar-links-container{
    display: flex;
    flex-direction: column;
}
.sidebar-links-container a{
    display: flex;
    align-items: center;
    color: #212121;
    border-left: 2px solid transparent;
    gap: 15px;
    padding: 20px;
    text-decoration: none;
    transition: .3s ease all;
}
.active-sidebar, .sidebar-links-container a:hover{
    color: #FF9A00 !important;
    border-left: 2px solid #FF9A00 !important;
}
.account-content-container{
    padding: 30px;
}
.acc-title{
    font-size: 26px;
    margin-bottom: 25px;
    font-weight: 800;
    color: #383E42;
}
.progress-bar-acc{
    display: flex;
    border-radius: 5px;
    background: #EFECF3;
    height: 5px;
    margin-top: 10px;
}
.progress-bar-in{
    background: #006EDF;
    border-radius: 5px;
}
.acc-photo-up{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 150px;
    height: 150px;
    text-align: center;
    border: 2px dotted #EFECF3;
    border-radius: 15px;
    cursor: pointer;
}
.acc-content-flex{
    margin-top: 30px;
    display: flex;
    gap: 20px;
}
.account-content-accordion-list{
    width: 80%;
    border-radius: 15px;
    border: 1px solid #EFECF3;
}
.acc-delete{
    margin-top: 50px;
}
.acc-delete a{
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 600;
    text-decoration: none;
    color: #E21743;
    width: 100px;
}


.questions-header {
    padding: 50px;
    font-size: 48px;
    text-align: center;
}

.asked-questions-container {
    max-width: 1100px;
    margin: auto;
}

.faq-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    color: #303030;
    transition: .2s ease all;
    border-bottom: 1px solid #EFECF3;
    cursor: pointer;
    
}
.faq-header:hover{
    color: #1666ef;
}
.faq-active .faq-header{
    color: #1666ef;
}

.acc-a-title{
    font-weight: 600;
}
.acc-a-title span{
    font-weight: 400 !important;
}
.accordion-item {
    margin-bottom: 8px;
    position: relative;
}

.paragraph {
    max-height: 0px;
    height: 0%;
    overflow: hidden;
   
    transition: 1s all;
    color: #f1f1f1;
    font-size: 24px;

}

.acc-in{
    padding: 15px;
    border: 1px solid #EFECF3;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.accordion-item .paragraph {
    transition: 0.3s all;
}

.faq-active .paragraph {
    height: 100%;
    max-height: 500px;
}

.accordion-menu {
    max-width: 800px;
    margin: auto;

}

.paragraph-content {
    padding: 22px;
}
.input-container-top{
    display: flex;
    flex-direction: column;
}
.input-alt{
    display: flex;
    flex-direction: column !important;
}
.input-container-top{
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: row;
}
.input-delete-column{
    display: flex;
    flex-direction: column;
}
.sifre-text{
    padding: 15px 0;
    color: #383E42;
    font-weight: 800;
}
.account-content-title{
    margin-bottom: 30px;
}
.input-delete-column span
{color: #E21743;
    text-decoration: underline;
    cursor: pointer;
    font-size: 14px;
}
.input-container-alt{
    display: flex;
    gap: 10px;
    justify-content: start;
}
.sifre-input-container{
    display: flex;
    flex-direction: column;
    gap: 22px;
    border-bottom: 1px solid #E5E5EA;
    width: 100%;
    padding-bottom: 20px;
}
.password-login{
    width: 100%;
}
.pass-content{
    display: flex;
    align-items: start;
    
}
.sifre-input-container input{
    padding: 10px;
    outline: 0;
    border: 1px solid #D5D2DC;
    border-radius: 8px;
    margin: 10px 0;
    width: 300px;
}
.sifre-input-container input:focus{
    border: 1px solid #003cff;
    
}
.last-sign-table{
    position: relative;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E5E5EA;
    padding: 20px 0;
}
.last-s-btn{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px #00000030;
    cursor: pointer;
}

.last-s-btn:hover{
    color: #be7302;
}

.last-s-btn-hover{
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    box-shadow: 0 0 10px #00000030;
    border-radius: 5px;
    width: 150px;
    height: auto;
    padding: 10px 0;
    transform: scale(0);
    transition: .3s ease all;
    transform-origin: top right;
    z-index: 5;
}
.last-s-btn:hover .last-s-btn-hover {
    transform: scale(1);
}
.last-s-btn-hover a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #383E42; 
    padding: 6px 10px;
}

.radio-button-container{
    display: flex;
    flex-direction: column;
}
.radio-group{
    display: flex;
    padding: 10px 0;
    gap: 10px;
  
}
input[type="radio"]{
    width: 20px;
        height: 20px;
}
input[type="checkbox"] {
    accent-color: orange;
    font-size: 22px;
    width: 20px;
        height: 20px;
}
.setting-save-container{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
    padding: 25px;
}
.setting-save-container a{
    padding: 10px 15px;
    background: #383E42;
    text-decoration: none;
    border-radius: 8px;
}
.setting-save-container a:nth-child(1){
    border: 1px solid #E5E5EA;
    color: #383E42;
    background: #fff;
}
.setting-save-container a:nth-child(2){
    border: 1px solid #006EDF;
    color: #fff;
    background: #006EDF;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}



.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22.6px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .2s;
    transition: .2s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 17.3px;
    width: 17.3px;
    left: 2.6px;
    bottom: 2.6px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}

.radio-button-container input:checked+.slider {
    background-color: #2196F3;
}

.radio-button-container input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

.radio-button-container input:checked+.slider:before {
    -webkit-transform: translateX(17.3px);
    -ms-transform: translateX(17.3px);
    transform: translateX(17.3px);
}

.switch-container{
    display: flex;
    gap: 20px;
    padding: 14px 0;
}
.switch-title span{
    font-weight: 800;
}
.h-pro{
    background: #fff !important;
    color: #006EDF !important;
    padding: 10px !important;
    box-shadow: 0 0 5px #00000030;
}
.h-pro2 {
    background: #F5F5F5 !important;
    color: #383E4250 !important;
    padding: 10px !important;
}
.ps20{
    display: flex;
    flex-direction: column;
}
.old-btn{
    position: relative;
    margin-top: 30px;
    cursor: pointer;
}
.old-btn-icon{
    position: absolute;
    top: -20px;
    left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FF9A00;
    background: #FFF0D9;
    width: 40px;
    font-size: 18px;
    height: 40px;
    border-radius: 8px;
}
.old-btn-icon2{
    position: absolute;
    top: -20px;
    left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #006EDF;
    background: #cfe7ff;
    width: 40px;
    font-size: 18px;
    height: 40px;
    border-radius: 8px;
}
.old-btn-text{
    padding: 8px 25px;
    background: #fff;
    box-shadow: 0 0 10px #00000020;
    width: 150px;
    text-align: end;
    border-radius: 11px;
    color: #383E42;
}
.old-button-container{
    display: flex;
    gap: 20px;
}
.message-box-title{
    font-weight: 800;
    color: #383E42;
}
.message-box-search-bar{
    display: flex;
    align-items: center;
    color: #FF9A00;
    border: 1px solid #D3D4D3;
    border-radius: 15px;
    padding: 0 15px;
    margin: 20px 0;
}
.message-box-search-bar input{
    padding: 15px;
    outline: none;
    border: none;
}
.message-box-contact{
    display: flex;
    flex-direction: column;
    gap: 15px;
    cursor: pointer;
}
.message-box-sidebar{
    
    width: 230px;
}
.message-contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
   
    border-radius: 15px;
}
.message-contact-profile{
    display: flex;
    gap: 10px;
    align-items: center;
}
.message-contact-profile img{
    border-radius: 50%;
}
.badge{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #ff9901;
    color: #fff;
    padding: 4px;
    width: 20px;
    height: 20px;
    font-size: 11px;
}
.message-box-flex-container{
    display: flex;
    gap: 20px;
}
.message-box-content{
    
    width: 80%;
}
.message-box-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #383E4260;
}
.title{
    font-weight: 800;
    color: #383E42;
}
.title span{
    font-size: 14px;
    font-weight: 400;
}
.title span i{
    font-size: 8px;
    color: #006EDF;
    margin-right: 5px;
}
.dot-line{
    font-size: 22px;
    color: #383E42  ;
}
.message-column{
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.message-column:nth-of-type(odd){
    justify-content: end;
}

.m-text{
    width: 250px;
    background: #FF9A00;
    color: #fff;
    padding: 13px 20px;
    border-radius: 11px;
}
.message-column:nth-child(even) .m-text{
    background: #383E42 !important;
    color: #fff;
}
.column-faces{
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 13px;
    color: #252525c9;
}
.message-column:nth-of-type(odd) .column-faces-date {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: end;
}
.column-faces-date i{
    color: #1666ef;
}


.loader {
    width: 20px;
    aspect-ratio: 4;
    --_g: no-repeat radial-gradient(circle closest-side, #252525c9 90%, #0000);
    background:
        var(--_g) 0% 50%,
        var(--_g) 50% 50%,
        var(--_g) 100% 50%;
    background-size: calc(100%/3) 100%;
    animation: l7 1s infinite linear;
}
.loader-text{
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #888B8E;
}

@keyframes l7 {
    33% {
        background-size: calc(100%/3) 0%, calc(100%/3) 100%, calc(100%/3) 100%
    }

    50% {
        background-size: calc(100%/3) 100%, calc(100%/3) 0%, calc(100%/3) 100%
    }

    66% {
        background-size: calc(100%/3) 100%, calc(100%/3) 100%, calc(100%/3) 0%
    }
}
.message-box-input-container{
    display: flex;
    flex-direction: column;
}
.message-box-input-container textarea{
    width: 100%;
    height: 100px;
    resize: none;
    background: #ECECED;
    outline: none;
    border-radius: 11px 11px 0 0;
    border: none;
    padding: 20px;
    font-size: 16px;
}
.message-box-input-container textarea::placeholder{
    font-size: 16px;
}
.submit-textarea-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ECECED;
    padding: 20px;
    border-radius:0 0 11px 11px;
}
.submit-textarea button{
    outline: none;
    border: none;
    background: #006EDF;
    color: #fff;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
}
.icons-textarea{
    display: flex;
    align-items: center;
    gap: 13px;
    font-size: 18px;
    color: #C1C3C4;
}
.icons-textarea i{
    cursor: pointer;
}

.swiper {
    width: 100%;
    height: 100%;
}

slide-form .swiper-slide {
    background-position: center;
    background-size: cover;
    background: #fff;
}

slide-form .swiper-slide img {
    display: block;
    width: 100%;
}

.slide-item-container{
    background: #fff;
    padding:30px 20px;
    border-radius:15px 15px 0 0 ;
    height: 600px;
    overflow: auto;
}
.slide-item-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    font-size: 22px;
}
.slide-item-nav .progress-bar-acc{
    width: 95%;
}
.slide-item-title{
    font-weight: 800;
    color: #383E42;
    font-size: 22px;
    padding: 25px;
}
.slide-item-buttons{
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.slide-item-buttons button{
    display: flex;
    align-items: center;
    gap: 15px;
    text-align: left;
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    background: #ECEBE9;
    outline: none;
    border: none;
    cursor: pointer;
    transition: .3s ease all;
    font-size: 16px;
    font-weight: 600;
}
.slide-item-buttons button:focus{
    background: #006EDF;
    color: #fff;
}

.checkbox-slide{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 50%;
    background: #fff;
}
.slide-check{
    background: #fff;
    width: 17px;
    height: 17px;
    border-radius: 50%;
}

.slide-item-buttons button:focus .slide-check {
    background: #FF9A00;
}
.slide-items-paginations{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: end;
    padding: 20px;
    background: #fff;
    border-radius:0 0 15px 15px;
    
}
.slide-items-paginations button{
    padding: 15px 25px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s ease all;
    font-weight: 600;
}
.swiper-button-next-e{
    background: #FF9A00;
    color: #fff;
}
.swiper-button-next-e:hover{
    transform: scale(1.05);
}
.slide-items-textarea textarea {
    width: 100%;
    height: 100px;
    resize: none;
    background: #fff;
    outline: none;
    border-radius: 11px;
    border: none;
    padding: 20px;
    height: 300px;
    font-size: 16px;
    border: 2px solid #EBE5D9;
}
.slide-items-inputs{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.slide-items-inputs input{
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    background: #f1f1f1;
    outline: none;
    border: 2px solid #003cff00;
    font-size: 16px;
    transition: .3s ease all;
}
.slide-items-inputs input:focus{
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    background: #f1f1f1;
    outline: none;
    background: #fff;
    border: 2px solid #003cff;
    font-size: 16px;
}
.planned-text{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px;
}
.planned-btn{
    display: flex;
    align-items: start !important;
    justify-content: start !important;
    flex-direction: column !important;
    width: 100%;
}
.planned-btn input{
    padding: 10px;
    border-radius: 11px;
    outline: none;
    background: #fff;
    outline: none;
    border: 2px solid transparent;
    font-size: 16px;
    width: 100%;
}
.planned-btn input:focus{
    border: 2px solid #003cff;
}
.slide-done-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
}
.slide-done-text{
    display: flex;
    gap: 0px;
    flex-direction: column;
}
.about-us-text{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.about-us-flex-container{
    display: flex;
    align-items: center;
    gap: 30px;
    font-weight: 600;
    margin-top: 50px;
    color: #383E42;
}
.about-us-text-top{
    color: #006EDF;
    font-size: 18px;
}
.about-us-text-header{
    font-size: 38px;
   
}
.border-o-short{
    height: 4px;
    background: #FF9A00;
    width: 50px;
    border-radius: 15px;
}
.about-box-container{
    background: #ffffff;
    padding: 65px 25px;
    box-shadow: 0 0 15px #0000001a;
    border-radius: 15px;
}
.about-boxes-container{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}
.boxes-about-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    background: #FF9A00;
}
.boxes-about{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 20px;
    width: 25%;
    border-radius: 15px;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    transition: .3s ease all;
}
.p12322q{
    flex-wrap: wrap;
}
.p12322{
    width: 32%;
    gap: 10px;
}
.boxes-about:hover{
    background: #fff;
    box-shadow: 0 0 15px #00000020;
}
.boxes-about-title{
    font-size: 18px;
}
.boxes-about-alt{
    height: auto;
}
.alt-box-container-about{
    gap: 0;
    box-shadow: 0 0 15px #00000020;
    border-radius: 15px !important;
    overflow: hidden;
}
.alt-box-container-about .boxes-about{
    background: #fff;
    border-radius: 0;
    
}
.alt-box-container-about .boxes-about-title{
    font-size: 28px;
    font-weight: 800;
}

.frameembed{
    margin-top:50px;
    height: 500px;
}
.container iframe{
    border-radius: 15px;
   
    height: 100%;
}
.bacground-contact{
    position: absolute;
    top: 0;
    background: url(img/map.png);
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    z-index: -1;
}
.bacground-contact::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #FFF9EB50, #e1edff);
}
.contact-container-icon-link{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
}
.icon-contact-p{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FF9A00;
    color: #fff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}
.c-form-w{
    width: 80%;
}
.contact-form-c{
    position: relative;
    top: -150px;
    background: #fff;
    width: 100%;    
    padding: 25px 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px #00000020;
}
.c-form-title{
    font-weight: 800;
    font-size: 18px;
}
.input-c-form-f{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.input-c-form-f input{
    width: 50%;
    padding: 10px;
    color: #242422;
    font-weight: bold;
    border: 1px solid #E5E5EA;
    outline: none;
    transition: .3s ease all;
    border-radius: 8px;
}
.input-c-form-textarea textarea{
    width: 100%;
    resize: none;
    width: 100%;
    padding: 10px;
    color: #242422;
    font-weight: bold;
    border: 1px solid #E5E5EA;
    outline: none;
    transition: .3s ease all;
    border-radius: 8px;
}
.input-c-form-f input:focus , .input-c-form-textarea textarea:focus{
    border: 1px solid #1666ef;
}

.help-search-container{
    background: #006EDF url(img/Topographic\ 5.png);
    background-repeat: no-repeat;
    background-position: 80%;
    color: #fff;
    padding: 20px;
    margin-top: 50px;
    border-radius: 15px;
}
.help-title{
    font-size: 24px;
    font-weight: 600;
}
.help-alt{
    padding: 10px 0;
}
.help-search-input-container{
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    color: #4e4e4e;
    max-width: 500px;
    margin: 25px 0;
}
.help-search-input-container input{
    padding: 15px;
    width: 100%;
    outline: none;
    border: none;
    color: #000;
    font-weight: 600;
}
.help-search-input-container i{
    padding-left: 10px;
    font-size: 18px;
}

.select-option-f-profile form{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.select-option-f-profile  select{
    width: 100%;
    padding: 13px;
    color: #242422;
    font-weight: bold;
    border: 1px solid #E5E5EA;
    outline: none;
    transition: .3s ease all;
    border-radius: 8px;
}